body {
    margin: 30px auto;
    font-family: 'Montserrat';
    max-width: 1000px;
    padding: 0 15px;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 20px;
}

p {
    line-height: 2;
}

.listHeader {
    padding-left: 22px;
}

.contacts li {
    line-height: 2.5;
}

.semi-bold {
    font-weight: 500;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.imageItems {
    max-width: 100%;
    margin-top: 40px;
}

.imageItems::after {
    content: "";
    display: block;
    clear: both;
}

figure {
    margin: 0;
    padding: 0;
}

.imagePhoto {
    width: 50%;
    float: left;
}

.imageBodyWrap {
    width: 50%;
    float: left;
}

.imageBody {
    width: 100%;
    margin: 0 auto;   
}

@media screen and (max-width: 740px) {
    .imagePhoto {
        width: 100%;
        float: none;
    }

    .imageBodyWrap {
        width: 100%;
        float: none;
    }

    ul {
        padding: 0;
        margin-left: 20px;
        font-size: 15px;
    }

    .listHeader {
        padding: 0;
    }
}

img {
    width: 240px;
    height: 280px;
    display: block;
    margin: 0 auto;
    border-radius: 3%;
}

ul {
    line-height: 2;
}

pre {
    background-color: #F9F9F9;
    border: 1px dashed #2F6FAB;
    line-height: 1.1em;
    padding: 1em;
    overflow: auto;
}

.copy {
    text-align: center;
}